<div class="container">
    <div class="cookiesContent" id="cookiesPopup">
        <button class="close" (click)="close()">✖</button>
        <img *ngIf="v" src="https://cdn-icons-png.flaticon.com/512/1047/1047711.png" alt="cookies-img" />
        <img *ngIf="v === false" src="../../assets/success.png" alt="cookies-img" />
        <p>{{ message }}</p>

        <!-- Use *ngIf to conditionally show/hide the button -->

        <button class="accept" (click)="close()">{{ actionMsg }}</button>

    </div>
</div>