.todo-container {
    max-width: 400px;
    margin: auto;
}


ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

span {
    margin-left: 8px;
}

.completed {
    text-decoration: line-through;
    color: #888;
}

.add-todo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.form-group {
    margin-right: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}