<!-- todo-list.component.html -->
<div class="todo-container">
    <h1>Todo List</h1>

    <div class="add-todo">
        <input type="text" [(ngModel)]="newItemText" placeholder="Add a new task">
        <button (click)="addTodo()">Add</button>
    </div>

    <ul>
        <li *ngFor="let todo of todoItems; let i = index" [ngClass]="{ 'completed': todo.completed }">
            <input type="checkbox" [(ngModel)]="todo.completed" (change)="updateTodoStatus(todo)">
            <span>{{ todo.text }}</span>
            <button (click)="deleteTodo(i)">Delete</button>
        </li>
    </ul>
</div>