<!-- todo-list.component.html -->
<div class="todo-container">
    <h1> Todo List</h1>

    <div class="add-todo">
        <div class="form-group">
            <label for="task">Task:</label>
            <input type="text" id="task" [(ngModel)]="newtodoItem.taskName" placeholder="Task">
        </div>
        <div class="form-group">
            <label for="taskdescription">Task Description:</label>
            <input type="taskdescription" id="taskdescription" [(ngModel)]="newtodoItem.taskDescription"
                placeholder="Task Description">
        </div>

        <div class="form-group">
            <input matInput [matDatepicker]="picker" [(ngModel)]="newtodoItem.expireDateTime"
                class="small-datepicker-input">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </div>


        <div class="form-group">
            <label for="priority">Priority:</label>
            <select id="priority" [(ngModel)]="newtodoItem.priorityId" placeholder="Priority">
                <option *ngFor="let priority of prioritiesFromApi" [value]="priority.value">
                    {{ priority.name }}
                </option>
            </select>
        </div>

        <button class="add-button" *ngIf="isAddButtonVisible" (click)="addTodo()">Add</button>
        <button class="edit-button" *ngIf="isEditButtonVisible" (click)="updateTodoItem()">Save</button>
        <button class="delete-button " *ngIf="isEditButtonVisible" (click)="toggleButtons()">Cancel</button>

    </div>


    <table class="todo-table">
        <thead>
            <tr>
                <th>Task Name</th>
                <th>Task Description</th>
                <th>Due Date</th>
                <th>Priority</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let todo of todoItems; let i = index" [ngClass]="{ 'completed': todo.status }">
                <td>{{ todo.taskName }}</td>
                <td>{{ todo.taskDescription }}</td>
                <td>{{ todo.expireDateTime.toLocaleDateString('en-US', { day: 'numeric', month: 'short', year: 'numeric'
                    }) }}</td>
                <td>{{ todo.priorityName }}</td>
                <td>
                    <input type="checkbox" [(ngModel)]="todo.status" (change)="updateTodoItemStatus(i)">
                </td>
                <td>
                    <button class="edit-button" (click)="editTodo(i)">Edit</button>
                    <button class="delete-button" (click)="deleteTodoItem(i)">Delete</button>

                </td>
            </tr>
        </tbody>
    </table>

</div>