.todo-container {
    max-width: 1000px;
    margin: auto;
}

.add-todo {
    display: flex;
    flex-direction: column;
    align-items: center;
}



ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

span {
    margin-left: 8px;
}

.sort-todo {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.completed {
    text-decoration: line-through;
    color: #888;
}

.add-todo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.form-group {
    margin-right: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.todo-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.todo-table th,
.todo-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.todo-table th {
    background-color: #f2f2f2;
}

.todo-table .completed {
    background-color: #dff0d8;
    /* Light green background for completed tasks */
}

.todo-table input[type="checkbox"] {
    margin: 0;
}

.edit-button {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
}

.small-datepicker-input {
    font-size: 12px;
    /* Adjust the font size as needed */
    padding: 0px;
    /* Adjust the padding as needed */
    /* Add any other styling as needed */
}

.add-button {
    background-color: #04a735;
    color: #fff;
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
}

.delete-button {
    background-color: #ff0000;
    color: #fff;
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
}