<!-- todo-list.component.html -->
<div class="todo-container">
    <div class="title-box">
        <table class="userTotaltask-table">
            <!-- <thead>
                <tr>
                    <th>Type</th>
                    <th>Count</th>
                </tr>
            </thead> -->
            <tbody>
                <tr *ngFor="let i of userTaskReport;">
                    <td>{{ i.priorityName }}</td>
                    <td>{{ i.completed }} <span>&#9989;</span>(C)</td>
                    <td>{{ i.notCompleted}}<span>&#10060;</span>(NC)</td>
                    <td>{{ i.completed+i.notCompleted }}(T)</td>
                </tr>
            </tbody>
        </table>
        <div class="form-group">
            <h1> {{userName}}'s Todo List &#x23F0; </h1>
        </div>
        <table class="userTotaltask-table">
            <tbody>
                <tr>
                    <td>Total Task</td>
                    <td>{{totalTask}}</td>
                </tr>
                <tr>
                    <td>Completed Task</td>
                    <td>{{completedTask}}</td>
                </tr>
                <tr>
                    <td>Pending Task</td>
                    <td>{{totalTask-completedTask}}</td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="filter-boxes-container">
        <div class="sort-box">
            <div class="form-group">
                <label for="task">Priority</label>
                <select id="priority" [(ngModel)]="sortLanding.priority" placeholder="Priority">
                    <option value="ASC">Low to High</option>
                    <option value="DESC">High to Low </option>
                </select>
            </div>
            <div class="form-group">
                <label for="taskdescription">Creation Date</label>
                <select id="priority" [(ngModel)]="sortLanding.date" placeholder="Priority">
                    <option value="ASC">Oldest</option>
                    <option value="DESC">Earliest </option>
                </select>
            </div>
            <div class="form-group">
                <label for="taskdescription">Is Complete</label>
                <select id="status" [(ngModel)]="sortLanding.status" placeholder="Priority">
                    <option [ngValue]="null">ALL</option>
                    <option [ngValue]="true">YES</option>
                    <option [ngValue]="false">NO</option>
                </select>
            </div>
            <div class="form-group">
                <button class="common-button" (click)="PageReset();refreshPage()">Show</button>
            </div>

        </div>
        <div class="search-box">
            <div class="form-group">
            </div>
            <div class="form-group">
                <input type="text" id="task" [(ngModel)]="sortLanding.searchTerm" placeholder="Search by Task Name"
                    class="text-input" (input)="onSearchInputChange()">
            </div>
            <div class="form-group">
                <button class="common-button" (click)="PageReset();refreshPage()">Search</button>
            </div>
            <div class="form-group">
                <button class="common-button" (click)="PageReset();refreshPage()">All</button>
            </div>

        </div>
    </div>

    <div class="input-box">
        <div class="form-group">
            <label for="task">Task:</label>
            <input type="text" id="task" [(ngModel)]="newtodoItem.taskName" placeholder="Task">
        </div>
        <div class="form-group">
            <label for="taskdescription">Task Description:</label>
            <input type="taskdescription" id="taskdescription" [(ngModel)]="newtodoItem.taskDescription"
                placeholder="Task Description">
        </div>

        <div class="form-group dateBox">
            <label for="Assign">Due Date:</label>
            <div class="date-picker">
                <input matInput [matDatepicker]="picker" [(ngModel)]="newtodoItem.expireDateTime">
                <mat-datepicker-toggle matSuffix [for]="picker" class="date-p"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </div>
        </div>
        <div class="form-group">
            <label for="Assign">Assign:</label>
            <select id="Assign" [(ngModel)]="newtodoItem.assignedId" placeholder="Assign">
                <option *ngFor="let user of userlist" [value]="user.value">
                    {{ user.name }}
                </option>
            </select>
        </div>

        <div class="form-group">
            <label for="priority">Priority</label>
            <select id="priority" [(ngModel)]="newtodoItem.priorityId" placeholder="Priority">
                <option *ngFor="let priority of prioritiesFromApi" [value]="priority.value">
                    {{ priority.name }}
                </option>
            </select>
        </div>

        <button class="add-button" *ngIf="isAddButtonVisible" (click)="addTodo()">Add</button>
        <button class="edit-button" *ngIf="isEditButtonVisible" (click)="updateTodoItem()">Save</button>
        <button class="delete-button " *ngIf="isEditButtonVisible" (click)="toggleButtons()">Cancel</button>

    </div>


    <table class="todo-table">
        <thead>
            <tr>
                <th>Task Name</th>
                <th>Task Description</th>
                <th>Create Date</th>
                <th>Due Date</th>
                <th>Create By</th>
                <th>Assigned</th>
                <th>Priority</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let todo of todoItems; let i = index" [ngClass]="{ 'completed': todo.status }">
                <td>{{ todo.taskName }}</td>
                <td>{{ todo.taskDescription }}</td>
                <td>{{ todo.creationDateTime.toLocaleDateString('en-US', { day: 'numeric', month: 'short', year:
                    'numeric'
                    }) }}</td>
                <td>{{ todo.expireDateTime.toLocaleDateString('en-US', { day: 'numeric', month: 'short', year: 'numeric'
                    }) }}&#8987;</td>
                <td>{{ todo.createBy }}</td>
                <td>{{ todo.assigned }}</td>
                <td>{{ todo.priorityName }}</td>
                <td>
                    <input type="checkbox" [(ngModel)]="todo.status" (change)="updateTodoItemStatus(i)">
                </td>
                <td>
                    <button class="edit-button" (click)="editTodo(i)">Edit</button>
                    <button class="delete-button" (click)="openPopupConfrimation(i)">Delete</button>

                </td>
            </tr>
        </tbody>
    </table>
    <div class="pagination-box">
        <button class="pev-button" *ngIf="isPreviousButtonVisible" (click)="previous()">Previous</button>
        <button class="next-button" *ngIf="isNextButtonVisible" (click)="next()">Next</button>
        <span class="page-dropdowntext">Jump to Page</span>
        <ng-container *ngIf="sortLanding.totalPossiblePage > 0">
            <select class="page-dropdown" [(ngModel)]="sortLanding.pageNum" (change)="jump()">
                <option *ngFor="let page of pagelist" [value]="page">{{ page + 1 }}</option>
            </select>
        </ng-container>


    </div>



</div>