.todo-container {
    max-width: 95%;
    margin: auto;
}

.add-todo {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.filter-boxes-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.title-box {
    margin-top: 20px;
    border: 3px solid #898cc0;
    padding: 5px;
    width: 99%;
    background-color: #c4c1e2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.sort-box,
.search-box {
    margin-top: 20px;
    border: 3px solid #8086dd;
    padding: 10px;
    width: 48%;
    background-color: #c6e3e6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.input-box {
    border: 2px solid #8ed48e;
    padding: 10px;
    margin-top: 20px;
    background-color: #bde7a5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pagination-box {
    border: 2px solid #0c750c;
    padding: 3px;
    margin-top: 20px;
    background-color: #bde7a5;
    display: flex;
    flex-direction: row;
    /* Add any additional styling you want for your custom box */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

span {
    margin-left: 8px;
}

.sort-todo {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.completed {
    text-decoration: line-through;
    color: #888;
}

.add-todo {
    display: flex;
    flex-direction: row;

    margin-bottom: 10px;
}

.form-group {
    margin-right: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.todo-table {
    width: 100%;
    border: 5px solid #05692f;
    background-color: #a8a6a2;
    border-collapse: collapse;
    margin-top: 20px;
}

.todo-table th,
.todo-table td {
    border: 5px solid #ddd;
    padding: 8px;
    text-align: left;
}

.todo-table th {
    background-color: #f2f2f2;
    background-color: #c9b393;
}

.todo-table .completed {
    background-color: #dff0d8;
    /* Light green background for completed tasks */
}

.todo-table input[type="checkbox"] {
    margin: 0;
}

.edit-button {
    background-color: #607fa0;
    color: #fff;
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;

}

.pev-button {
    background-color: #a562a5;
    color: #000000;
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
}

.next-button {
    background-color: #4c82bb;
    color: #fff;
    padding: 5px 5px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
}

.small-datepicker-input {
    font-size: 12px;
    /* Adjust the font size as needed */
    padding: 0px;
    /* Adjust the padding as needed */
    /* Add any other styling as needed */
}

.text-input {
    width: 150px;
    padding: 5px;
    font-size: 14px;
}

.common-button {
    background-color: #5c8d6c;
    color: #fff;
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
}

.add-button {
    background-color: #5c8d6c;
    color: #fff;
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
    width: 100px;
    height: 35px;
    margin-top: 10px;
}

.delete-button {
    background-color: #d88383;
    color: #fff;
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
}

.userTotaltask-table {
    width: 30%;
    border: none;
    justify-content: space-between;
    background-color: #cfb792;
    border-collapse: collapse;
}

.userTotaltask-table th,
.userTotaltask-table td {
    border: 2px solid #cc7474;
    padding: 2px;
    text-align: left;
}

.dateBox {
    display: flex;
    flex-direction: column;
    gap: 0px;


}

.date-picker {
    display: flex;
    flex-direction: row;
    gap: 0px;
    height: 25px !important;
}

.date-p {
    margin-top: 0;
    margin-bottom: 15px !important;
}

.page-dropdown {
    width: 40px;
    height: 20px;
    border: 5px;
    border-color: #000000;
    margin-left: 5px;
    margin-top: 5px;
    justify-content: space-between;
    background-color: #d38a1d;
    border-collapse: collapse;
}

.page-dropdowntext {
    background-color: #bde7a5;
    color: #fff;
    padding: 5px 5px;
    font-size: 14px;
    border: none;
    font-weight: bold;
    color: #000000;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    margin-right: 5px;
    height: 20px;
}